body{
background:#121212;
color:white;
font-family:Arial;
text-align:center;
}

button{
padding:10px;
margin:8px;
font-size:16px;
}

input,select{
padding:8px;
font-size:15px;
}

.stats{
margin:20px;
font-size:18px;
}
